APScheduler==3.10.4
backports.zoneinfo==0.2.1
importlib-metadata==4.8.3
importlib-resources==5.4.0
mutagen==1.45.1
pytz==2025.2
pytz-deprecation-shim==0.1.0.post0
PyYAML==6.0.1
six==1.17.0
slack-sdk==3.36.0
typing-extensions==4.1.1
tzdata==2025.2
tzlocal==4.2
zipp==3.6.0
